@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name!</h1>
    <p>Beekeepr is the ultimate hive tracking app. </p>
    <br />
    <p>Let's get started! </p>
</div>

<div class="text-center">
    <ul>
        <li class="align-content-center btn-dark">Hives</li>
    </ul>
    <ul>
        <li class="align-content-center btn-dark">Notes</li>
    </ul>
    <ul>
        <li class="align-content-center btn-dark">Queens</li>
    </ul>
    <ul>
        <li class="align-content-center btn-dark">Locations</li>
    </ul>
</div>
